* {
	margin: 0;
	padding: 0;
}

.header {
	padding: 10px;
	margin: auto;
	text-align: center;
}

/* .display {
	display: grid;
	grid-template-columns: 1fr 1fr;
} */

/* .controls {
	display: grid;
	grid-template-rows: 6fr 1fr;
} */

#board {
	margin: auto;
	/* margin-top: 50px;
	margin-bottom: 50px; */
	width: 292px;
	height: 292px;
	border: 2px solid black;
}

.field {
	width: 30px;
	height: 30px;
	margin: 1px;
	border: 1px solid black;
	text-align: center;
}

#timer {
	text-align: center;
	padding: 10px;
}

.btn-class {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
}