#board {
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 300px;
}

.box {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border: 2px solid black;
}

.field {
	min-width: 30px;
	min-height: 30px;
	border: 1px solid black;
	text-align: center;
}