* {
	margin: 0;
	padding: 0;
}

.header {
	padding: 10px;
	margin: auto;
	text-align: center;
}

/* .display {
	display: grid;
	grid-template-columns: 1fr 1fr;
} */

/* .controls {
	display: grid;
	grid-template-rows: 6fr 1fr;
} */

#board {
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 300px;
}

.box {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border: 2px solid black;
}

.field {
	min-width: 30px;
	min-height: 30px;
	/* margin: 1px; */
	border: 1px solid black;
	text-align: center;
}

#timer {
	text-align: center;
	padding: 10px;
}

.btn-class {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
}